html, body {
    height: 100% !important;
    width: 100%;
}

.container{
    display: flex;
    flex-direction: column;
    height: 100%;
    border: 2px solid black;

}

.header{
    flex: 0 0 100px;
    display: flex;
    width: 100%;
    background-color: lightblue;
    border-bottom: 2px solid black;
}

.header h1{
    color: black;
    margin: auto;
}

.content{
    background-color: lightblue;
    flex: 1 1 auto;
    width: 100%;
    height: 0;
}

.map-view{
    width: 100%;
    height: 100%;
    margin: auto;
    align-content: center;
}

#map{
    width: 100%;
    height: 100%;
}

.list-view{
    width: 100%;
    height: 100%;
    margin: auto;
    align-content: center;
}

.footer{
    flex: 0 0 80px;
    display: flex;
    width: 100%;
    background-color: lightblue;
    border-top: 2px solid black;
}

#map-view-button{
    background-color: blue;
    border: none;
    color: white;
    padding: 5px 20px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    margin: auto;
    cursor: pointer;
    transition-duration: 0.4s;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    border-radius: 4px;
}

#list-view-button{
    background-color: blue;
    border: none;
    color: white;
    padding: 5px 20px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    margin: auto;
    cursor: pointer;
    transition-duration: 0.4s;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    border-radius: 4px;
}

#map-view-button:focus{
    background-color: darkblue;
}

#list-view-button:focus{
    background-color: darkblue;
}

.hide{
    display: none !important;
}